extends layout

block content
  h1 Welcome to the Club
  
  p Here are the latest messages from members:
  each message in messages
    div.message
      p.bold= message.title
      p= message.text
      span.date= new Date(message.timestamp).toLocaleDateString()
      if user && user.isMember
        span.author= message.author.firstName
        if user.isAdmin
        form(method='POST', action=`/messages/message/${message._id}/delete`)
          button.btn.btn-danger(type='submit') Delete
      else
        span.author= "Club Member"
  p
    if user
      if user.isMember
        a.btn.btn-primary(href='/messages/create') Create a New Message
      else
        a.btn.btn-primary(href='/join') Join the Club to Create a New Message
    else
      p You're not a member yet. Join the club to see the author of the messages.
      p
        a.btn.btn-secondary(href='/auth/signup') Sign Up